@inherits LayoutComponentBase

<div class="app">
    <LeftSidebar />
    <main class="main-col">
        <div class="main-scroll">
            @Body
        </div>
    </main>
    <RightSidebar />
</div>
