@using FootballBlog.Core.DTOs

<a href="/posts/@Post.Slug" class="post-item" style="text-decoration:none;">
    <div class="post-thumb" style="background:@PostHelpers.GetThumbBg(Post.Thumbnail);">
        @PostHelpers.GetEmoji(Post.CategoryName)
    </div>
    <div class="post-item-body">
        <div class="post-item-tag">@Post.CategoryName</div>
        <div class="post-item-title">@Post.Title</div>
        <div class="post-item-meta">@PostHelpers.FormatTimeAgo(Post.PublishedAt)</div>
    </div>
</a>

@code {
    [Parameter, EditorRequired] public PostSummaryDto Post { get; set; } = null!;
}
